@model Assessment.DAL.Entities.Product
@{
    ViewData["Title"] = "Create Product";
}

<div class="card p-4 col-md-6 mx-auto">
    <h2>Add Product</h2>

    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Quantity</label>
            <input asp-for="Quantity" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
